.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.buttons{
    padding-top: 89px;
    padding-bottom: 34px;
}



.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }
   
   :root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #2F303A;
   }

    footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--black);
        color: var(--white);
    } 
