.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.buttons{
    padding-top: 89px;
    padding-bottom: 34px;
}



.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }
   
   :root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #2F303A;
   }

    footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--black);
        color: var(--white);
    } 

    .current{
        text-decoration: none;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        justify-content: center;
    }

    .container1{
        position: relative;
        width: 45%;
        }
        
        .image {
        display: block;
        width: 100%;
        }
        
        .overlay {
        position: absolute;
        top: -77px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #2196F3E5; 
        }
        
        .container:hover .overlay {
        opacity: 1;
        }
        
        .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        }