  
   
   :root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #2F303A;
   }

    footer {
        background-color: var(--black);
        color: var(--white);
    } 

    .header-item{
        max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns:
     repeat(auto-fill, minmax(250px,
     1fr));
     grid-gap: 20px;
     padding: 20px;
    }

    .buttons{
        max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.87); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.87);
    }

    .posts{
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.87); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.87);
        max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    background: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 5px
    rgba(0,0,0,0.1);
    }